@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}
/* Header Section Start here */
/* Header Section End here */

/* banner Section Start here */
.banner-container {
  width: 1440px;
  height: 652px;
  border: 0;
  background-image: url("../assets/images/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-top: 100px;
}
.banner-img {
  width: 998px;
  height: 582px;
  margin: 0 auto;
  margin-top: 50px;
}
.banner-img img {
  margin: 0 auto;
}
.banner-container img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-container h1 {
  color: rgb(13, 19, 33);
  font-size: 38px;
  font-weight: 700;
  line-height: 68px;
  text-align: center;
}
.banner-container p {
  margin-top: 10px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.banner-container button {
  width: 208px;
  height: 66px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 21px 24px 21px 24px;
}
.banner-img button {
  margin: 0 auto;
  margin-top: 32px;
}

/* Banner Section End here */

/* Main Section Start here */
.title-section {
  width: 1140px;
  height: 1395px;
  border: 2px solid red;
  margin: 0 auto;
  margin-top: 50px;
}

.heading-container {
  width: 946px;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.heading-container h1 {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 48px;
}
.heading-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
}
.first-box-container {
  width: 946px;
  height: 336px;
  border: 2px solid red;
  margin: 0 auto;
  display: flex;
}
.left-side-1 {
  width: 477px;
  height: 140px;
  border: 2px solid red;
  margin: 20px 0 20px;
}
.left-side-1 h2 {
  margin-bottom: 20px;
}
.left-side-1 p {
  margin-bottom: 30px;
}
.btn-learn-more button {
  width: 150px;
  height: 48px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
}

/* Main Section End here */

/* Footer Section Start here */

/* Footer Section End here */
